/*******************************************/
/***************** IMPORTS *****************/
/*******************************************/

/*********************************************/
/***************** VARIABLES *****************/
/*********************************************/

:root {
  --color_fg: #ffffff;
  --color-bg: #002837;
  --color-highlight: #00b9ff;
  --color-primary: #005170;
  --color-secondary: #005170;
  --color-accent1: #ff0000;
  --color-accent2: #0cc224;
  --menu-width: 300px;
  --_spacing: 1rem;
}

.custom-dates {
  display: none;
  padding-top: 5px;
}

.dropbtn {
  background-color: #005170;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #00b9ff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2980b9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
.button-box{
  
  padding-top: 100px;
  text-align: center;
}

caption {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  color: #00b9ff;
  margin-bottom: 8px;
  margin-top: 8px;
  width: 100%;
  text-align: center;
}

table {
  font-family: sans-serif;
	border-collapse: collapse;
	border: 1px solid #0e1111;
	text-align: center;
	vertical-align: middle;
  width: 100%
}

thead {
  background-color: #0e1111;
  color: white;
  font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}
tbody tr:nth-child(even) {
  background-color: #005170;
}

.transaction-line-item{
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.transaction-items-table{
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #002837;
  margin: auto;
  padding: 20px;
  border: 1px solid #00b9ff;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

