/*******************************************/
/***************** IMPORTS *****************/
/*******************************************/

/*********************************************/
/***************** VARIABLES *****************/
/*********************************************/

:root {
  --color_fg: #ffffff;
  --color-bg: #002837;
  --color-highlight: #00b9ff;
  --color-primary: #0085b7;
  --color-secondary: #005170;
  --color-accent1: #ff0000;
  --color-accent2: #0cc224;
  --menu-width: 300px;
  --_spacing: 1rem;
}
