/*******************************************/
/***************** IMPORTS *****************/
/*******************************************/

/*********************************************/
/***************** VARIABLES *****************/
/*********************************************/

:root {
    --color_fg: #ffffff;
    --color-bg: #002837;
    --color-highlight: #00b9ff;
    --color-primary: #0085b7;
    --color-secondary: #005170;
    --color-accent1: #ff0000;
    --color-accent2: #0cc224;
    --menu-width: 300px;
    --_spacing: 1rem;
}
.invBtns {
    background-color: white;
    color: black;
    width: 30%;
    border: 2px solid var(--color-secondary);
}

.invBtns:hover {
    background-color: var(--color-secondary);
    color: white;
}
.inventory-center {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--color-primary);
    padding: 10px;
    gap: 10px;
}
#inventory-list {
    width: 100%;
    border-collapse: collapse;
}

#inventory-list td,
#inventory-list th {
    padding: 12px 15px;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
}
#inventory-list th {
    background-color: var(--color-bg);
    color: white;
}

#inventory-list tr:hover {
    background-color: var(--color-secondary);
}

#action-bar {
    padding-top: 100px;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
#addModal {
    display: none; /* Hidden by default */
}
#removeModal {
    display: none; /* Hidden by default */
}

/* Modal Content */
#modal-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 5px;
}
.modal-content {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));margin: auto;
    padding: 20px;
    width: 80%;
    color: black;
}
.modal-content input {
    border: none;
    border-radius: 0px !important;
}
::placeholder {
    color: black;
}
.modal-content h1 {
    color: white;
}
#modal-submit {
    background-color: #005170;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
}
.modal-remove-btn {
    background-color: #005170;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
    width: 100px;
}
.modal-remove-btn:hover {
    background-color: #002837;
}
#remove-modal-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
}
#modal-submit:hover {
    background-color: #002837;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
